h1 {
  text-align: center;
  font-size: 6rem;
  margin: 4rem 0;
  text-decoration: underline;
}

form {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

#input {
  display: flex;
  gap: 1rem;
}

p {
  text-align: center;
  margin: 0;
}

#messageInput,
button {
  font-size: 2rem;
  font-family: monospace;
}
